<%= render 'shared/header' %>

<!DOCTYPE html>
<html>
    <head>
        <style>
            .home_header {
            background-color: #206868;
            border-radius:0px 0px 15px 15px;
            color: #FFFFFF;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            }
            
            .main-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 5%;
            }
            
        </style>
    </head>
    <body>
        <div class="home_header">
            <h2>Gallery</h2>
        </div>
        <div class="main-content">
            
        </div>
    </body>
</html>

<%= render 'shared/footer_new' %>


