<%= render 'shared/header' %>
<!DOCTYPE html>
<html>
    <head>
        <style>
            .about-main{
                padding:10%;
            }
            h2{
                text-align:center;
                padding-bottom: 2%;
            }
            .p{
                text-align:center;
                padding-bottom: 2%;
                font-family: Amiri;
                font-style: italic;
                font-weight: 400;
                line-height: normal;
            }
        </style>
    </head>
    <body>
        <div class= "about-main">
            <h2>ABOUT US</h2>

            <p class="p">We are engaged in queer and pragmatic skills development in multiple sectors for industry and institutions.</p>
            <p class="p">We also do special technology products and supporting services.</p>
            <p class="p">Please go through our services for more information.</p>
        </div>
    </body>
</html>
<%= render 'shared/footer_new' %>
